nav {
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  button {
    background-color: transparent;
    font-size: 0.95rem;
    border: 2px solid rgb(56, 56, 56);
    border-radius: 7%;
    padding: 2px 5px;
    cursor: pointer;
    z-index: 1;
    transition: all 0.3s ease-in-out;
    &:hover {
      background: rgb(65, 65, 65);
      color: white;
    }
  }
}
.navigation {
  display: flex;
  flex-direction: column;
  position: relative;
}
.navMenu {
  display: none;
  position: absolute;
  align-items: flex-end;
  flex-direction: column;
  width: 200%;
}
.active-sleepMenu {
  display: flex;
}
.sleepTime {
}

@media screen and (max-width: 768px) {
  nav {
    .libraryBtn {
      z-index: 10 !important;
    }
  }
  .navMenu {
    width: 180%;
    height: 200%;
  }
}
