@import url("https://fonts.googleapis.com/css2?family=Monda:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
html {
  --primaryBackgroundColor: white;
  --primaryTextColor: black;
  --primaryHColor: rgb(52, 52, 52);
  --oppositeBackgroundColor: black;
  --oppositeTextColor: white;
}
* {
  font-family: "Monda", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 300;
}
body {
  background-color: var(--primaryBackgroundColor);
  color: var(--primaryTextColor);
}
body.dark {
  --primaryBackgroundColor: black;
  --primaryTextColor: white;
  --primaryHColor: white;
  --oppositeBackgroundColor: white;
  --oppositeTextColor: black;
}
h1,
h2,
h3 {
  color: var(--primaryHColor);
  font-weight: 400;
}

.App {
  display: flex;
  flex-direction: row-reverse;
  transition: all 0.5s ease;
}
.All {
  width: 100vw;
}
.library-active {
  margin-left: 30%;
}
@media (prefers-color-scheme: dark) {
  html {
    --primaryBackgroundColor: black;
    --primaryTextColor: white;
    --primaryHColor: white;
  }
}

@import "./song";
@import "./_player.scss";
@import "./library";
@import "./nav";
@import "./toggler";
